body {
    background-color: #FF4040;
    color: white;
    font-family: 'Cairo', sans-serif;
}

.allll {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-all {
    text-align: center;
    padding-top: 100px ;
}

.page-all h1 {
    font-size: 100px;
    font-weight: 500;
    line-height: 50px;
}

.page-all p {
    font-size: 22px;
    letter-spacing: 1px;
}

.page-all .img-animation {
    max-width: 200px;
}